p {
    font-size: 16px;
}
.margin {
    margin-bottom: 45px;
}
.home {
    text-align: center;
    border-bottom: none;
    min-height: 500px;
    padding: 180px 0 0;
}
.static-page {
    padding-top: 30px;
}
.home h1 {
    color: #f0ffff;
    font-size: 3.5rem;
    margin-bottom: 30px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 10);
    padding: 100px 0 0;
}
.steps {
    padding: 0 0 20px !important;
    margin-bottom: 30px;
    
}
.circle-icon {
    width: 180px;
    height: 180px;
    line-height: 180px;
    background-color: #fff;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto 50px;
}
h2.section-header {
    background-color: #330033;
    color: #FFF;
    text-align: center;
    margin: 0 0 60px;
    padding: 20px 0;
    max-width: 100%;
    text-transform: uppercase;
}
#footer {
    background-color: #262F36;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 35px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width:100%;
}          
.footer-text {
    color: #F8F8F8;
}
.container-f {
    padding-top: 70px;
    padding-bottom: 70px;
}
.bg-1 {
  background-color: #fff;
}
.bg-2 {
  background-color: #330033;
  color: #ffffff;
}
html, body {
    height: 100%;
}
#holder {
    min-height: 100%;
    position:relative;
}
#body {
    padding-bottom: 140px;
}
body {
    font-family: Raleway, sans-serif;
    font-size: 14px;
    background-color: #330033;
}
.container {
    padding: 0px;
}

.container .box {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    margin-top: 20px;
}
.placeholder {
    font-size: 12px;
}
.email_field {
    background-size: 30px 32px;
    background-image: url('../public/img/mail.png');
    background-position: 6px 6px; 
    background-repeat: no-repeat;
    padding-left: 40px;
}
.username_field {
    background-size: 30px 32px;
    background-image: url('../public/img/account.png');
    background-position: 6px 6px; 
    background-repeat: no-repeat;
    padding-left: 40px;
}
.password_field {
    background-size: 30px 32px;
    background-image: url('../public/img/lock.png');
    background-position: 6px 6px; 
    background-repeat: no-repeat;
    padding-left: 40px;
}
.signup {
    height:50px; 
    width:100%; 
    font-size:18px; 
    font-family:'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, sans-serif; 
    border-radius: 0px;
}
.login {
    height:40px;
    width:100%; 
    font-size:18px; 
    font-family:'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, sans-serif; 
    border-radius:7px; 
    margin-top: 3%;
}
.submit {
    height:40px;
    font-size:18px; 
    font-family:'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, sans-serif; 
    border-radius:7px; 
    margin-top: 3%;
}
.acount-profile a::selection{
    color: #222;
    background: #F1F1F1;
}
.acount-profile a:hover{
    color: #222;
    background: #B3B3B3;
}
.center {
    text-align: center;
}
.tutor-rating > label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
    font-size:150%;
    position:relative;
    top:-5px;
}
.img-tutor {
    border-radius: 5px;
    height: 100px;
    width: 100px;
    padding: 0;
}
.img-tutor:hover  {
    box-shadow: 1px 1px 10px grey;
}
.view-tutor-button {
    border-radius: 5px;
    padding: 8px 8px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #67A2D4;
    color: white;
    border: 1px solid #767676;
    border-right: 3px solid #767676;
    border-bottom: 3px solid #767676;
}

.view-tutor-button:hover {
    background-color: #555555;
    color: white;
    border: 1px solid #555555;
    margin-right: 6px;
    padding: 6px 6px;
    margin-top: 6px;
    margin-left: 4px;
}
.view-tutor-button:hover {
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 2px 5px 0 rgba(0,0,0,0.19);
}
.reviews-list li:last-child {
    border-bottom: 1px solid #DEDEDE;
}
.account-overview h5 {
    font-size: 16px;
}
.account-overview i {
    font-style: normal;
    font-weight: bold;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 