p {
    font-size: 16px;
}
.margin {
    margin-bottom: 45px;
}

/* demo css */
.home {
    background: url(Library.jpg) no-repeat center bottom;
    background-size: cover;
    text-align: center;
    border-bottom: none;
    min-height: 500px;
    padding: 180px 0 0;
}
.static-page {
    padding-top: 30px;
}
.home h1 {
    color: #f0ffff;
    font-size: 3.5rem;
    margin-bottom: 30px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 10);
    padding: 100px 0 0;
}
.steps {
    padding: 0 0 20px !important;
    margin-bottom: 30px;
    
}
.circle-icon {
    width: 180px;
    height: 180px;
    line-height: 180px;
    background-color: #fff;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto 50px;
}
h2.section-header {
    background-color: #330033;
    color: #FFF;
    text-align: center;
    margin: 0 0 60px;
    padding: 20px 0;
    max-width: 100%;
    text-transform: uppercase;
}
#footer {
    background-color: #262F36;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
}          
.footer-text {
    color: #F8F8F8;
}
.container-f {
    padding-top: 70px;
    padding-bottom: 70px;
}
.bg-1 {
  background-color: #fff; /* Dark Blue #474e5d */
}
.bg-2 {
  background-color: #330033; /* Green #1abc9c */ 
  color: #ffffff;
}
